* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

/* Header */

header nav{
    position: sticky;
}

header nav ul {
  display: flex;
}

header nav button {
  display: none;
}
ul li {
  list-style: none;
  margin: 1em;
}

a {
  cursor: pointer;
}

svg {
    margin: 1em;
  }

.nav-bar {
    width: 100%;
    height: 4em;
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
  }

  .closebtn {
    display: none;
  }
  
/* Main */

main {
  display: flex;
}

main ul {
  background-color: rgb(80, 80, 80);
  text-align: center;
  width: 2em;
  padding-right: 4em;
  margin: 0;
  box-sizing:content-box,
}

main ul li a {
  color: blue;
}
main ul li a:hover {
  color: #03254e;
}
main ul li a:active {
  color: #03254e;
}

.content {
    width: 100%;
    height: 1000px;
  }


/* Footer */
footer {
  width: 100%;
  height: 2em;
  background: blue;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {   
    
    /* Header */
      header nav button {
        display: inline;
      }

      svg {
        display: none;
      }

      .nav-bar {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      /* Main */
    
      main {
        flex-direction: column;
      }
    
      main ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
      }


      .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: -20px;
        left: -40px;
        background-color: #222; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */ /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        display: flex;
        flex-direction: column;
      }
    
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
    
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
      }
    
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    
      /* The button used to open the sidebar */
      .openbtn {
        position: absolute;
        right: 2.2em;
        font-size: 1.4em;
        cursor: pointer;
        color: white;
        padding: 0.4em;
        border: 1px solid black;
        border-radius: 0.5em;
      }
    
      .openbtn:hover {
        background-color: #444;
      }
      .menu-icon {
        width: 1em;
      }
    /*Operations*/
      .wrapper{
          display: flex;
          flex-direction: column;
      }

}



.hidden {
  visibility: hidden;
}
.error {
  color: red;
}

/* Form Style */

.container{
    display: flex;
  flex-direction: column;
    align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container div {
    margin: 0.5em 0;
}
.container div input {
    padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.invalid input{
    border-color: red;
    background: #ffd7d7;
}
.invalid label{
    color:red
}

.btn{
    padding:1em;
    border-radius: 0.5em;
    border: 1px solid gray;
}

.dark{
    background-color:#222;
    color: white;
}

.red{
    background-color:red;
    
}

.green{
    background-color:green;
}

select {

    background-color: white;
    border: thin solid gray;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
  }

text-area{
    padding:5em;
    border: thin solid gray;

}

/* Form Modal */

.modal {
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-dialog{
    background-color:#fff;
    width:40%;
    height:50%;
    border: 2px solid #222;
    border-radius:1em;
}

.modal-header{
    background-color:#444;
    margin:0;
    border-radius: 0.5em;
    display:flex;
    justify-content:center;
    padding:1em;
}

.modal-body{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Operations Page*/
.wrapper {
    width:80%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.box {
    background-color: #818181;
    border: 1px solid black;
    border-radius: 1em;
    height: 10em;
}